<div id="modal" class="modal hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de coleta</h1>
            <a href="#">Fechar</a>
        </div>

        <form action="/pagina-resultados">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pequise por Cidade" autofocus="">
                <button>
                    <img src="./img/icones/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>