{%extends "layout.html"%}

    {% set pageId = "page-home" %}

     {% block styles %}

     <link rel="stylesheet" href="./css/home.css">
     <link rel="stylesheet" href="./css/modal.css">

    {% endblock styles %}
   

    {# <div id="page-home"> #}
    {% block content %}
    
        <div class="content">
            <header>
                <img src="./img/icones/logo.svg" alt="Logomarca Ecoleta">
                <a href="/cadastro"> <span></span> cadastre um ponto de coleta</a>
            </header>
            <main>
                <h1>Seu marketplace de coleta de resíduos</h1>
                <p>ajudamos pessoas a encontrar pontos
                     de coleta de forma eficiente.</p>
            
                <a href="#"> <span></span> <strong>Pesquisar pontos de coletas</strong> </a>
    
            </main>
        </div>
    {% endblock content %}

    {% block modal %}
        {%include "partes/modal.html"%}
    {% endblock modal %}
    
    {% block script %}
    <script src="./js/index.js"></script>
    {% endblock script %}
   
